header{
    margin: 2%;
    height: 72px;
    background-color: #D8C1EB;
    border-radius: 20px;
    box-shadow: 0px 20px 50px #9356C8;
}

#logo {
    height: 75px;
    cursor: pointer;
}


#cabecalhoNav {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cabecalhoNav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

#cabecalhoNav ul li a {
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

#cabecalhoNav ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background-color: #7F3CB9;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

#cabecalhoNav ul li:hover::after{
    width: 100%;
}

.cabecalhoNavButtonsLogin {
   border: none;
   background-color: #7F3CB9; 
   color: #D8C1EB;
   cursor: pointer;
   border-radius: 15.2px;
   font-size: 21px;
   text-transform: capitalize;
   min-height: 43.32px;
   min-width: 179.06px;
}

#inicioSec {
    padding: 5%;
    font-size: 38px;
}

.inicioSecItroducao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inicioSecItroducaoText {
    padding-top: 15%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
}

.inicioSecParagraph{
    display: flex;
    align-items: center;
    width: 80%;

}
